body {
    background-color: #232323;
    background-image: url("background.jpg");
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-repeat: repeat;
    background-position: center top;
    background-size: cover;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Ostrich Sans";
    src: url(OstrichSans-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: "Segoe UI Symbol";
    src: url(seguisym.ttf);
}
#header {
    background-color: #181818;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 20px;
    max-width: 100%;
}
#logo {
    position: relative;
    top: 3px;
    left: -5%;
}
.top {
    font-family: "Ostrich Sans", sans serif;
    font-weight: bold;
    color: #707070;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 15px;
    position: absolute;
    /*left: -15%;*/
}
.top:hover {
    background: linear-gradient(to left, #60CFFE 0%, #49DEB7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.top:active {
    opacity: 0.5;
    cursor: default;
}
.button {
    font-family: "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    position: relative;
    padding: 4px 10px;
    margin: 10px;
    color: #181818;
    background: linear-gradient(to left, #60CFFE 0%, #49DEB7 100%);
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.8;
    /*position: absolute; right: 0;*/
    /*align-content: flex-end;*/
    /*position: absolute;*/
    left: 30%;
}
.button:hover {
    opacity: 1;
}
.button:active {
    cursor: default;
    opacity: 0.8;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Segoe UI Symbol", sans-serif;
    padding: 56px 32px 32px;
}
#big-logo, #logo {
    cursor: pointer;
}
#big-logo:active, #logo:active {
    cursor: default;
    opacity: 0.8;
}
#search-bar {
    /*color: #707070;*/
    /*padding: 8px 10px 10px 8px;*/
    background: white;
    border-radius: 35px;
    margin-left: 250px;
    margin-right: 250px;
    /*align-items: center;*/
    /*align-content: center;*/
    position: relative;
    /*position: absolute;*/

}
#search-icon {
    position: relative;
    top: 4px;
}
#welcome {
    background: linear-gradient(to left, #60CFFE 0%, #49DEB7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 48px;
    cursor: default;
}
#artists {
    display: flex;
    flex-direction: column;
    align-content: center;

}
#parks {
    display: flex;
    flex-direction: column;
    align-content: center;

}
#park-logos{
    display: flex;
    justify-content: center;
}
#artist-logo{
    display: flex;
    justify-content: center;
    cursor: pointer;
    /*opacity: 0.8;*/
}
.park-logo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    width: 100%;
}
#artist-logo:hover, .park-logo:hover {
    opacity: 1;
}
#artist-logo:active, .park-logo:active{
    cursor: default;
}
#artist-title {
    display: flex;
    flex-direction: column;
    padding: 16px;
}
#park-title {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
}
#result-title {
    top: 8px;
    display: flex;
    justify-content: center;
    cursor: default;
    color: white;
}
#result-text {
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    font-family: "Ostrich Sans", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: white;
}
.park-results {
    width: 100%;
    font-size: 24px;
    position: relative;
    left: 15%;
}
.results:hover, .park-results:hover {
    background: linear-gradient(to left, #60CFFE 0%, #49DEB7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    cursor: pointer;
}
.results:active, .park-results:active {
    cursor: default;
}

hr {
    width: 90%;
    position: relative;
    top: 4px;
    height: 1px;
    margin: 5px auto;
    border: 0 none;
    color: #60CFFE;;
    background-color: #60CFFE;
}
#about {
    color: white;
    position: relative;
    top: 64px;
    cursor: default;
}
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #181818;
    font-family: 'Segoe UI Symbol', sans-serif;
}
#footer-button {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 16px;
}
.footer-item {
    padding: 12px 48px;
    cursor: pointer;
}
.footer-item:hover {
    background: linear-gradient(to left, #60CFFE 0%, #49DEB7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-item:active {
    cursor: default;
    opacity: 0.5;
}
#copyright, #disclaimer {
    color: #707070;
    font-size: 12px;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .top {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .button {
        font-size: 12px;
        padding-top: 8px;
    }
    #content {
        font-size: 14px;
    }
    #footer-button {
        font-size: 12px;
    }
    #disclaimer, #copyright {
        font-size: 8px;
    }
}
